*{
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    color:#333333;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

header{
    background-color: #1e90ff;
    color: white;
    padding: 20px;  
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li{
    display: inline;
    margin: 0 15px;
    text-align: center;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

main{
    margin: 20px 0;
}

section{
    margin-bottom: 40px;
    
}

.destino{
    margin: 20px 0;
}

img{
    height: 350px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



table{
    border-collapse: collapse;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#galeria{
    display: flex;
    width: 600px;
    height: 430px;
    margin: 0;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter:contrast(120%);
}
footer {
    background-color:  #1e90ff;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    position: relative;
}

footer p {
    margin: 0;
}